In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

### Creating conexion string to read the data base.

In [2]:
%load_ext sql
%config SqlMagic.autocommit = False

In [3]:
sqlitedb_rel_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{sqlitedb_rel_path}'

engine = create_engine(conn_str)

### Showing the tables of the data base.

In [16]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

### Cleaning data of personal_info table
- Age column: we need to have the same format: XX years old.
- Gender column: we need Female / Male format.
- Dem_has_children column: Yes / No format.
- Age_group: there are some elements out of the three bins.

In [17]:
df_personal_info = pd.read_sql_query("SELECT * FROM personal_info", engine)

In [7]:
#Age: algunos tienen el año en lugar de years old.
#puedo filtrar todos aquellos valores que no contengan years old
df_personal_info['age']

0       61 years old
1       57 years old
2       32 years old
3       45 years old
4       41 years old
            ...
9644    37 years old
9645    53 years old
9646            1992
9647    47 years old
9648    51 years old
Name: age, Length: 9649, dtype: object

In [8]:
#Gender: Female, Male.
df_personal_info['gender'] = df_personal_info['gender'].astype("string").str.capitalize()
df_personal_info['gender'] = df_personal_info['gender'].replace('Fem', 'Female')

In [9]:
#Chilren: Yes or No.
df_personal_info['dem_has_children'] = df_personal_info['dem_has_children'].str.capitalize()

In [10]:
# - Age group: todo mismo formato. 
df_personal_info['age_group'].unique()

array(['40_65', '26_39', 'juvenile', '14_25'], dtype=object)

In [11]:
#Hacemos filtro para ver mejor los elemntos correspondientes a 'juvenile'. Max y min pertenecen al bin 14-25, 
#porque 2016-1991 = 25 y 2016-2002=14, por lo que entendemos que todos pertecen a la msima categoría.
juvenile_filter = df_personal_info['age_group'].str.contains("juvenile")
print(df_personal_info[juvenile_filter].max())
print(df_personal_info[juvenile_filter].min())

uuid                fee33680-da56-0133-c1d5-0a81e8b09a82
age                                                 2002
gender                                              Male
dem_has_children                                     Yes
age_group                                       juvenile
dtype: object
uuid                00199e00-d8c3-0133-c6b2-0a81e8b09a82
age                                                 1991
gender                                            Female
dem_has_children                                      No
age_group                                       juvenile
dtype: object

In [12]:
df_personal_info['age_group'] = df_personal_info['age_group'].replace('juvenile', '14_25')

In [13]:
df_country_info = pd.read_sql_query("SELECT * FROM country_info", engine)

In [14]:
df_career_info = pd.read_sql_query("SELECT * FROM career_info", engine)

In [15]:
df_poll_info = pd.read_sql_query("SELECT * FROM poll_info", engine)